/* Profile.css */

.unique-profile-page {
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.unique-user-info {
  display: flex;
  flex-direction: column; /* Changed to column for vertical layout */
  align-items: center;
}

.unique-user-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.unique-user-details {
  display: flex;
  flex-direction: column; /* Added for vertical stacking */
  align-items: center; /* Center aligned */
  margin-top: 10px;
}

.unique-username {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px; /* Space between name and email */
}

.unique-user-email {
  font-size: 1.1em;
  color: #666;
  margin-bottom: 10px; /* Space between email and button */
}

.unique-logout-button {
  padding: 10px 15px;
  background-color: #e63946;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.unique-logout-button:hover {
  background-color: #d62839;
}

.unique-login-reminder {
  font-size: 1.2em;
  color: #666;
}
